html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

div#top {
	background-color:#7cc2de;
	padding-top:20px;
}

#header-container {
	width: 100%;
	background-color:rgba(239,235,235,0.5);
}

#header {
	width: 960px;
  height: 72px;
  padding: 10px 0px;
  margin: 0px auto;
}

#logo {
	float:left;
}

#name h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 26px;
	letter-spacing:3px;
	margin-left: 100px;
	padding-left: 60px;
	
}

#name h2{
	font-family: 'SofiaProLightRegular', Arial, sans-serif;
	font-size: 20px;
	color: #2e2e2e;
	margin-top: 8px;
	margin-left: 155px;
}

div.box {
  padding: 10px 15px;
  border-left: 1px solid #7bb6d1;
  float: right;
}
div.box ul li:last-child {
  margin-top: 8px;
}

div#nav {
  float: right;
  padding: 0px 15px;
}
#nav ul{
    list-style:none;
}

#nav a{
	font-family: 'SofiaProLightRegular', Arial, sans-serif;
	font-size: 20px;
	color: #2e2e2e;
	text-decoration:none;
}
#nav a:hover, #nav a:active {
	color:#FFFFFF;
}

#featured {
  width: 960px;
  background-color: #FFFFFF;
  height: 360px;
  margin: 0px auto;
}
