html, body, div, span, object, button, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body {
  background-color: #f8f8f8;
}

a{
	text-decoration:none;
}



#header {
	width: 960px;
  height: 106px;
  margin: 0px auto;
  border-bottom: 1px solid #7e7c7d;

}

#logo {
	float:left;
	padding-top:12px;
	padding-right: 18px;
	height: 94px;
	border-right: 1px solid #94a192;
	margin-right: 26px;
}

#name h1{
	font-family: 'SofiaProBold', sans-serif;
	font-size: 30px;
	color: #5e5f5e;
	letter-spacing: 1px;
	padding-top:24px;

}

#name h2{
	font-family: 'SofiaProLightRegular', sans-serif;
	color: #5e5f5e;
	font-size: 16px;
	margin-top: 4px;
}


div.box {
	padding: 5px 41px 8px 23px;
	border-left: 1px solid #94a192;
	padding-top: 5px;
	float: right;
	height:94px;
}

div.box ul li:last-child {
  margin-top: 8px;
}

div#nav {
  float: right;
  padding: 0px 0px;
}
#nav ul{
    list-style:none;
    padding-top: 24px;
}

#nav a{
	font-family: 'SofiaProBold', sans-serif;
	font-size: 16px;
	color: #515151;
	text-decoration:none;
}
#nav a:hover, #nav a:active {
	color:#6e786c;
}

#nav a.current-page {
	color:#6e786c;
}

#featured {
  
  position:relative;
  width: 960px;
  height: 220px;
  padding-top: 28px;
  margin: 0px auto;
}

#resume-box {
  
  position:relative;
  width: 960px;
  height: 1280px;
  padding-top: 28px;
  margin: 0px auto;
  background: white;
}

div#featured-text {
  display: block;
  position: absolute; 

}

div#featured img#featured-img {
  display: inline-block;
  float: left;
  opacity: .9;
}

img.tint-image {
	display: inline-block;
	float: left;
	opacity: .9;
}

div#featured span#tags {
  display: block;
	font-family: 'SofiaProBold', Arial, sans-serif;
	color: #f4f4f4;
	font-size: 16px;
  text-decoration: none;
  padding-top:8px;
  padding-left:16px;
}

div#featured span#name {
  display: block;
	font-family: 'SofiaProLightRegular', sans-serif;
	color: #f2f2f2;
	font-size: 48px;
	letter-spacing:1px;
	height: 44px;
	padding-top:10px;
}

div#featured span#name2 {
  display: block;
	font-family: 'SofiaProLightRegular', sans-serif;
	color: #f2f2f2;
	font-size: 48px;
	letter-spacing:1px;
}

div#featured span#desc {
  display: block;
	font-family: 'SofiaProLightRegular', Arial, sans-serif;
	color: #fdfffd;
	font-size: 18px;
	padding-top: 6px;
}


div#featured a#oldhov {
	padding-left: 16px;
	padding-top: 18px;
	font-family: 'SofiaProLightRegular', sans-serif;
	color: #fdfffd;
	font-size: 18px;
	text-decoration: none;
	display: block;


}

div#featured a#grayhov {
	padding-left: 16px;
	padding-top: 18px;
	font-family: 'SofiaProLightRegular', sans-serif;
	color: #525252;
	font-size: 18px;
	text-decoration: line-through;
	display: block;


}


a#feat{
	text-decoration:none;
}

figure.tint{
	float:left;
	background: #94a192;
}

figure.about-bg{
	float:left;
	background: #000000;
	height:220px;
	width:960px;
}

div.content {
	width: 960px;
  	margin: 0px auto;
  	padding-top: 36px;
  	margin-bottom: 36px;
  	min-height: 250px;
}


div#content-header-box {
	width: 960px;
	float:left;
	margin: 0px auto;
	border-bottom: 1px solid #94a192;
	margin-bottom: 18px;
}

div#content-header-box-left {
	width: 668px;
	float:left;
	margin: 0px auto;
	border-bottom: 1px solid #94a192;
}

div.content span#content-header {
	display: block;
	font-family: 'SofiaProBold', sans-serif;
	color: #6e786c;
	font-size: 16px;
	padding-bottom: 4px;
	padding-top: 4px;
}

div#content-subheader-box {
	width: 291px;
	float:left;
	margin: 0px auto;
	border-left: 1px solid #94a192;
	border-bottom: 1px solid #94a192;

}

div.content span#content-subheader {
  display: block;
  
  	font-family: 'SofiaProBold', sans-serif;

  
	color: #94a192;
	font-size: 16px;
	padding-bottom: 4px;
	padding-top: 4px;

	padding-left:16px;
}

div#content-text-box-left{
	width: 668px;
	float:left;
	margin: 0px auto;
	padding-top:18px;
}

div#content-subtext-box{
	width: 291px;
	height: 200px;
	float:left;
	margin: 0px auto;
	padding-top:18px;
	border-left: 1px solid #94A192;
}

div.content a{
color:#6E786C;
}

div.content a:hover{
color:#515151;
}

a#greylink {
	color:#000000;
}


div.content span#content-text{
	  display: block;
  
  	font-family: 'SofiaProLightRegular', sans-serif;

  
	color: #252525;
	font-size: 18px;
}

div.content span#content-text-left{
	  display: block;
  
  	font-family: 'SofiaProLightRegular', sans-serif;

  
	color: #252525;
	font-size: 18px;
}

div.content span#content-subtext{
	  display: block;
  
  	font-family: 'SofiaProLightRegular', sans-serif;

  
	color: #000000;
	font-size: 16px;
	padding-left:16px;
}

div#content-text-box-left img{
	padding-top: 24px;
	padding-bottom: 2px;}

span.caption{
	font-size: 12px;
	padding-bottom: 16px;
}

.portfolio-project{
	float:left;
	margin-right: 42px;
	width: 292px;
}

.portfolio-project .img {
	width: 292px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

.portfolio-project .img div {
	width: 292px;
	height: 200px;
	position: absolute;
	top: -200px;
}

.portfolio-project img {
	width: 292px;
	height: 200px;
	position: absolute;
	top: 0;
}

.portfolio-project.last{
	margin-right:0px;
}

.portfolio-project a:hover {
	opacity:0.4;
}

div.footer {
	width: 960px;
  	margin: 0px auto;
	border-top: 1px solid #7e7c7d;
}

#footer_about{

width: 334px;
	height: 107px;

	border-right: 1px solid #94a192;
	float:left;

}

div.footer span#footer_about_header{
	display: block;
font-family: 'SofiaProBold', Arial, sans-serif;
color: #515151;
font-size: 16px;
text-decoration: none;
padding-top: 8px;
}

div.footer span#footer_about_text{
	display: block;
font-family: 'SofiaProLightRegular', Arial, sans-serif;
color: #515151;
font-size: 14px;
text-decoration: none;
padding-top: 8px;
}

#footer_resume{
	width: 334px;
		height: 107px;

	border-right: 1px solid #94a192;
	float:left;
	margin-right: 16px;
}

div.footer span#footer_resume_header{
	display: block;
font-family: 'SofiaProBold', Arial, sans-serif;
color: #515151;
font-size: 16px;
text-decoration: none;
padding-top: 8px;
padding-left: 16px;
}

div.footer span#footer_resume_text{
	display: block;
font-family: 'SofiaProLightRegular', Arial, sans-serif;
color: #515151;
font-size: 14px;
text-decoration: none;
padding-top: 8px;
padding-left:16px;
}

div.footer span#footer_contact_header{
	display: block;
font-family: 'SofiaProBold', Arial, sans-serif;
color: #515151;
font-size: 16px;
text-decoration: none;
padding-top: 8px;
}

div.footer span#footer_contact_text{
	display: block;
font-family: 'SofiaProLightRegular', Arial, sans-serif;
color: #515151;
font-size: 14px;
text-decoration: none;
padding-top: 8px;
}




div.footer a{
color:#6E786C;
}

div.footer a:hover{
color:#515151;
}